= form_tag @action_form_periodo, method: :post, html: { class: "form-horizontal", role: "form" } do 
  .col-sm-4
    = date_field_tag :data_inicio, @data_inicio.strftime("%Y-%m-%d"), class: 'form-control', id: 'select-data-inicio'
  .col-sm-1
    = label_tag :ate, I18n.t(:ate), class: 'col-sm-1 control-label'
  .col-sm-4
    = date_field_tag :data_fin, @data_fin.strftime("%Y-%m-%d"), class: 'form-control', id: 'select-data-fin'
  .col-sm-1
    = submit_tag "Refrescar", class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-refresh
      
