= form_for @marca, html: { class: "form-horizontal", role: "form", id: 'form-marca' } do |f|
  -if @marca.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@marca.errors.count, "error")} prohibited this marca from being saved:"

      %ul
        - @marca.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label I18n.t(:nome_marca), class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :nome, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-4
      = f.submit class: 'btn btn-primary'
        

